[Unit]
Description=Roda o deploy automatico dos sites dypesite a cada minuto

[Timer]
OnBootSec=90
OnUnitActiveSec=60
AccuracySec=5s
Unit=dypesite-deploy.service

[Install]
WantedBy=timers.target
